.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #searchInput {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }
  #searchInput {
    color: red;
  }

  
  #searchResults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  